* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    padding: 16px;
    justify-content: space-around;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content-top {
    display: flex;
    flex-flow: column wrap;
    background-color: #1F2937;
    padding: 4vw;
    flex-grow: 0;
    max-height: 20vh;
    align-content: space-around;
    gap: 8px;
}

.subhead {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subheadcon {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    max-width: 42vb;
}

button {
    max-width: fit-content;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
}

.placeholder {
    background-color: grey;
    color: #F9FAF8;
    padding: 88px;
}

.ranifo { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranifo .subhead {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.imglist {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.imgdesc {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.imgdescdesc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img {
    border: 4px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 16px;
    padding: 5vw;;
}

.desc {
    text-align: center;
    text-wrap: wrap;
    max-width: 10vw;
}